{% extends 'django_template_limitless/base.html' %}
{% load static %}
{% load i18n %}

{% block customcss %}
{% endblock %}

{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#all_subnets').DataTable({
                pageLength: 10,
                order: [[1, "asc"]]
            });
        });

        $(document).on('hidden', "#modal-content", function () {
            $("#modal-content").removeData("modal-content");
        });

        $(document).on('click', "a[data-toggle=modal]", function () {
            var target = $(this).attr("href");

            $.get(target, function (data) {
                $("#modal-content").html(data);
                $("#modal-content").modal("show");
            });

            return false;
        });
    </script>
{% endblock %}

{% block content %}
    <div class="card card-body shadow-lg">
        <h4>{% trans "Information regarding configured Subnets:" %}</h4>
        <table class="table table-striped table-bordered nowrap" id="all_subnets">
            <thead>
            <tr>
                <th>ID</th>
                <th>Subnet</th>
                <th>Router</th>
                <th>VLAN</th>
                <th>{% trans "Last Modified" %}</th>
                <th>{% trans "List Reservations" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for subnet in ipsubnets %}
                <tr>
                    <td>{{ subnet.id }}</td>
                    <td>{{ subnet.network }}</td>
                    <td>{{ subnet.router }}</td>
                    <td>{{ subnet.vlan }}</td>
                    <td>{{ subnet.date_changed }}</td>
                    <td>
                        <a href="ipsubnet/{{ subnet.id }}"
                           aria-expanded="false">
                            <i class="icon-list3"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="modal-content" class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
