{% extends 'django_template_limitless/minimal_skeleton_with_css_js.html' %}
{% load static %}

{% block customjs %}
    <script type="text/javascript" class="init">
        $("#modal-save").on("click", function () {
            $("#api-form").submit();
        });

        // Countdown
        var timeout = 5

        function countDown() {
            if (timeout == 0) {
                clearInterval(delete_timer)
                document.getElementById("modal-continue").disabled = false;
            } else {
                timeout--;
                document.getElementById("p_countdown").innerHTML = "Please wait " + timeout + " seconds before continuing";
            }
        }

        var delete_timer = setInterval('countDown()', 1000);

    </script>
{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal-header">
        <h5 class="modal-title" id="modal-title">{{ content_title_main }} - {{ content_title_sub }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h1 style="color:red;">Warning!</h1>
        <p>WARNING: Unauthorized access to this system is forbidden and will be<br>prosecuted by law. By accessing this
            system, you agree that your actions<br>
            may be monitored if unauthorized usage is suspected.</p>
        <p id="p_countdown">Please wait 5 seconds before continuing</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="modal-continue" type="button" class="btn btn-primary" disabled>Continue</button>
    </div>
{% endblock %}
